<div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
  <a class="navbar-brand" href="#">
    <fa-icon class="icon-color" [icon]="faVirus"></fa-icon>
    {{'nav.title' | translate  }} 
  </a>
 
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="#" id="languageSelector" data-bs-toggle="dropdown" aria-expanded="false">
           <fa-icon [icon]="faGlobe"></fa-icon>
      {{'nav.languageSelect' | translate  }} </a>
    <ul class="dropdown-menu" aria-labelledby="languageSelector">
      <li *ngFor="let lang of translate.getLangs()"><a class="dropdown-item" (click)="translate.use(lang)">{{lang}}</a></li>
    </ul>
  </li>
</div>
<div class="container py-3">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>