.icon-color {
    color:rgb(255, 97, 97);
}
.bg-black {
    background-color: rgb(20, 20, 20) !important;
}
a.navbar-brand {
    color: white !important;
}
a.btn.btn-outline-primary {
    color: white;
    border-color: white;
}
a.p-2.text-dark {
    color: white !important;
}
#languageSelector {
    color: white;
    text-decoration: none;
}